@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    display: flex;
}

header{
    border: 1px solid #ccc;
    height: 100vh;
    color: darkslateblue;
    
}

nav h1{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

nav ul li{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color:rgb(187, 71, 249);
    font-weight: 400;
}

nav ul li:hover{
    background-color: lightgray;
    transition: 0.2s ease-in-out;
    
}

main{
    padding: 50px;
    max-width: 1200px;
}

section{
    margin-bottom: 50px;
}

section article{
    font-size: 14px;
}

section article p{
    margin-bottom: 20px;
   
}

section h2{
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
}

section article ul{
    margin-left: 35px;
}

section article ul li{
    margin-bottom: 10px;
}


@media (max-width:480px){
    body{
        flex-direction: column;
    }

    header{
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }
}
